.logo-img{
    width: 140px;
}
.themeCircle{
    width: 50px;;
    height: 50px;
    border-radius: 100%;  
}
.drop-menu{
    position: relative;
    .drop-list{
        position: absolute;
        right: 0;
        top: 27px;
        display: none;
        .theme{
            cursor: pointer;
        }
    }
}
.drop-menu1{
    position: relative;
    .drop-list1{
        position: absolute;
        top: 27px;
        left: -63px;
        display: none;
    }
}
.active{
    display: inline !important;
}
.selected{
    background: white;
    border-radius: 100%;
    border: 3px solid #5fd855;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #5fd855;
    position: absolute;
    top: 0px;
    right: 0;
    display: none;
    font-size: 12px;
}
.sys-card-head{
    img{
      height: 160px;
      object-fit: cover;
    }
}
.w-30{
    width: 30px;
    height: 34.38px;
    object-fit: cover;
}
.mobileBar{
    i{
        display: none;
    }
}

@media(max-width: 767px){
    .show{
        display: block !important;
    }
    .sys-grid{
        flex-wrap: wrap;
    }
    .col-md-6, .col-md-9{
        width: 100% !important;
    }
    .sys-header{
        .logo-img {
            width: 80px;
        }
        #themeDropdown{
            .sys-grid{
                flex-wrap: nowrap;
            }
        }
        #versionList{
            .sys-grid{
                flex-wrap: nowrap;
            }
        }
        .sys-grid{
            flex-wrap: wrap;
            .mobileBar{
                display: flex;
                justify-content: space-between;
                align-items: center;
                i{
                    display: block;
                }
            }
            .mobileMenu{
                display: none;
                .sys-navbar{
                    display:block;
                }
            }
        }
       
    }
    .sys-sidebar{
        overflow: hidden;
    }
    .sys-sidebar .sidebar-collapse ~ .sidebar-content {
        margin-left: 37px;
    }
    h2, h3{
        font-size: 1.2rem;
    }
    .content-body{
        .sys-grid{
            flex-wrap: wrap;
            .col-md-3{
                width: 100%;
            }
        }
    }

}